<!DOCTYPE html>
<html>
  <head>
    <title>Chanjong</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= include_gon %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header>
    <nav>
      <% if user_signed_in? %>
        ようこそ、<%= current_user.name %>さん
        <ul>
          <li><%= link_to "マイページ", user_path(current_user) %></li>
          <li><%= link_to "ライブラリ", user_roles_path(current_user) %></li>
          <li><%= link_to "フレンド", friends_path %></li>
          <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
        </ul>
      <% else %>
        <ul>
          <li><%= link_to "新規登録", new_user_registration_path %></li>
          <li><%= link_to "ログイン", new_user_session_path %></li>
        </ul>
      <% end %>
    </nav>
  </header>
  <body>
    <div><%= flash.now[:notice] %></div>
    <div><%= flash.now[:alert] %></div>
    <%= yield %>
  </body>
</html>
